{% set route = app.request.get('_route')  %}

<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link {{ app.request.attributes.get('_route') == 'app_dashboard' ? '' : 'collapsed' }}" href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link {{ 'owner' in route ? '' : 'collapsed' }}" data-bs-target="#owner-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Owner</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="owner-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ path('app_owner') }}" class="{{ app.request.attributes.get('_route') == 'app_owner' ? 'active' }}">
            <i class="bi bi-circle"></i><span>Owner</span>
          </a>
        </li>
      </ul>
    </li><!-- End owner Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->
  </ul>

</aside>
